<!doctype html>
<html lang="en">
  <head>
	<title>Barbershop</title>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
 <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
     <link rel="stylesheet" type="text/css" href="css/style.css"> 

  </head>
  <body>
	
    <h1> Administration</h1>
    <p></p>
    <form action='/admen' method='POST'>
      	<fieldset>
          <legend> Login form</legend>
          <label for="lohin">Login:</label>
	  <input type="text"  name="lohin"><br><br>
	  <label for="parol">Password:</label>
	  <input type="password"  name="parol"><br><br>
          <input class="button" type='submit' value='LOGIN'/>
	</fieldset>
    </form>
  <%= @listok %>
  <%= @irror %>
  </body>
</html>

