<h2> Контакты </h2>
<form action="/contacts" method="POST" role="form">


  <fieldset>
  	<label for="email">EMail</label>
        <input type="email" name="email"><br><br>
        
        <p><textarea name="report" placeholder=" Здесь вы можете оставить отзыв или сообщение"></textarea></p>

        <button type="submit" class="button">Send a message</button>

   </fieldset>
</form>
